
<link rel="stylesheet" type="text/css" href="/static/css/mdstyle.css">
<link rel="stylesheet" type="text/css" href="/static/css/guide.css">
 
  <div class="row">  

    
    <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1 ">
        <a name="backtop"></a>
        <div class=" guideSidebar">

          <h3>
          <a href="#浏览器">浏览器管理客户端使用</a>
          </h3>
          <ul class="">
                
          <li><a href="#账户注册">账户注册</a>  
          <li><a href="#登录">登录</a>  </li>
          <li><a href="#编辑餐厅">编辑餐厅</a>  </li>
          <li><a href="#添加小号">添加小号</a>  </li>
          <li><a href="#编辑菜单">编辑菜单</a>  </li>
          <li><a href="#制作餐桌二维码">制作餐桌二维码</a>  </li>
          <li><a href="#处理订单">处理订单</a>  </li>
          <li><a href="#查看已结订单">查看已结订单</a>  </li>
          <li><a href="#查看经营数据">查看经营数据</a>  </li>
          <li><a href="#退出登录">退出登录</a>  </li>
          
          </ul>
          <h3>
            <a href="#安卓">App管理客户端使用说明</a>
          </h3>
          <ul class="">
          <li><a href="#app登录">登录</a>  </li>
          <li><a href="#app导航">导航</a>  </li>
          <li><a href="#app处理订单">处理订单</a>  </li>
          <li><a href="#app查看已结订单">查看已结订单</a>  </li>
          <li><a href="#app查看账户信息">查看账户信息</a>  </li>
          <li><a href="#app退出登录">退出登录</a>  </li>
          </ul>
          <h3>
            <a href="#食客使用说明">食客使用说明</a>
          </h3>
          
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="markdown">
        
        {{{markdown}}}
      </div>
    </div>

    
  </div>
  <span class="back-to-top"><a href="#backtop">顶部</a> </span>
<!-- <div class="container-fluid">
</div> -->


