
{{!-- <link rel="stylesheet" type="text/css" href="/static/flatty/font-awesome-4.7.0/css/font-awesome.min.css">
 --}}<div class="home-slider">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 box">
        <div class="slide-text">
        <h1 class="slide-title">移动餐饮时代，web就是生产力</h1>
        <p>不只是免费</p>
        <p>轻量系统，应用简便</p>
        <p>在线订单，量化管理</p>

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 box">
        <img src='/static/img/sample.png' class="img-responsive">
      </div>
    </div>
  </div>
</div>

<section id="site-content">
<div class="home-cfa">
<div class="container">
  <div class="row">
    <div class="col-sm-3 cfa-col">
        
        <span class="cfa-icon"><i class="fa fa-cloud-download" aria-hidden="true"></i>
        </span>
        <span class="cfa-text">云上管理，告别软件下载安装</span>
        <a class="cfa-link" href="/signup">马上注册 <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="col-sm-3 cfa-col">
        <span class="cfa-icon"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
</span>
        <span class="cfa-text">数据导出备份，给你更多选择</span>
        <a class="cfa-link" href="/guide">查看教程<i class="fa fa-angle-right"></i></a>
    </div>
    <div class="col-sm-3 cfa-col">
        <span class="cfa-icon"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </span>
        <span class="cfa-text">实时订单送达，无需刷屏</span>
        <a class="cfa-link" href="#">查看示例<i class="fa fa-angle-right"></i></a>
    </div>
    <div class="col-sm-3 cfa-col">
        {{!-- <span class="cfa-icon" data-icon="&#x77;"></span> --}}
        <span class="cfa-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
        <span class="cfa-text">生成营业报表，数据改善经营</span>
        <a class="cfa-link" href="#">查看示例<i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
</div>
</section>
{{!-- {{> footer}} --}}
{{!--     <div class="col-xs-12 col-sm-6 col-md-3 box">
      <div class="productbox">
        <img src="https://unsplash.it/400/300?random" class="img-responsive">
        <div class="producttitle">产品名称：</div>
        <div class="productprice">
            <div class="pricetext">
              <p class="text-justify">价格：19</p>
            </div>
            </div>
      </div>
    </div> --}}