
        <footer id="site-footer">
            <div class="footer-top">
                <div class="container">
    <div class="row wrap-horizontal">
        <div class="col-sm-6 newsletter-subscribe">
            <i class="fa fa-envelope fa-3x pull-left mailbox"></i>
            <h2 class="subscribe-title">联系我们</h2> <span>Email: sylar_2000@163.com</span>
        </div>

        <div class="col-sm-6 ">
            <div class="footer-contact copyright">
                <h4>© Copyright欣味</h4>
                {{!-- <a class="btn btn-primary btn-wire btn-lg" href="#">联系我们</a> --}}
            </div>
        </div>
    </div>
</div>            </div>

        </footer>